<!DOCTYPE html>
<!-- MyWebPage 30/12/2017 Valentin Pouzet -->
<html lang="fr">
<head>
    <!--Le titre et l'icône de la page -->
    <title>Building</title>
    <link rel="icon" type="image/png" href="happy-cloud.png" />
    <!-- Required meta tags -->
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
          integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous"/>-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    </head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand">Super Valentin !!!</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="Room/PageRoom.html">Les rooms</a></li>
      <li class="active"><a>Les buildings</a></li>
      <li><a href="index.html">Un truc à moi</a></li>
    </ul>
  </div>
</nav>

<div class="container" id="appbuilding">
    <h3 class="text-center" v-bind:title="'hé hé ! message surprise :P'">List of Buildings</h3>

    <!--On range les données que l'on va récupérer dans un joli tableau -->
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Overview</th>
            <th scope="col">Turn All Lights</th>
            <th scope="col">Turn All Ringers</th>
        </tr>
        </thead>
        <tbody>
        <form action=""></form>

        <!--Petite boucle for sur tous les buildings -->
        <tr v-for="building in buildings">
            <th scope="row">{{ building.buildingId }}</th>
            <td>{{ building.nom }}</td>


            <!--Overview sur toutes les rooms -->
            <td>
                <!--Les lumières -->
                <div>
                <img v-for="room in building.rooms" v-if="room.light.status == 'ON'" src="light-on.png"/>
                <img v-for="room in building.rooms" v-if="room.light.status == 'OFF'" src="light-off.png"/>
                </div>
                <!--Les ringers-->
                <div>
                <img v-for="room in building.rooms" v-if="room.noise.status == 'ON'" src="ringer-on.png"/>
                <img v-for="room in building.rooms" v-if="room.noise.status == 'OFF'" src="ringer-off.png"/>
                </div>
            </td>

            <!--Et les boutons, bon, comme aucune fonction "contains" n'existe, on se base sur la première lumière -->
            <td><!-- Switch tout off -->
                <button v-if="building.rooms[0].light.status == 'ON'" @click="switchLight1(building)" class="btn btn-light">
                <img src="switch.png" width="20" /></button>
                <!-- Switch tout on -->
                <button v-else-if="building.rooms[0].light.status == 'OFF'" @click="switchLight2(building)" class="btn btn-light">
                <img src="switch.png" width="20" /></button>
            </td>
            <td><!-- Switch tout off -->
                <button v-if="building.rooms[0].noise.status == 'ON'" @click="switchRinger1(building)" class="btn btn-light">
                <img src="switch.png" width="20" /></button>
                <!-- Switch tout on -->
                <button v-else-if="building.rooms[0].noise.status == 'OFF'" @click="switchRinger2(building)" class="btn btn-light">
                <img src="switch.png" width="20" /></button>
            </td>
        </tr>
        </form>
        </tbody>
    </table>


<br>

</div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"
        integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"
        integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ"
        crossorigin="anonymous"></script>
<script src="https://unpkg.com/vue"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="appbuilding.js"></script>

</body>
</html>
